body {
	background-color:lightskyblue
}

h2 {
	color: black;
	font-family: 'Courier New', Courier, monospace;
}


th{
	height: 90px;
	width: 90px;
	border-radius: 10px;
	border: 1px solid;
	font-family: fantasy;
	font-size: xx-large;
	cursor: pointer;
	background-color: lightseagreen;
}

#reset {
	vertical-align: top;
	background-color: darkseagreen;
	border-radius: 10px;
	cursor: pointer;
	color: white;
	font-family: Arial;
	font-size: 15px;
	font-weight: 900;
	padding: 5px 20px;
}

.player-name-submit {
	background-color: darkseagreen;
	border-radius: 10px;
	cursor: pointer;
	color: white;
	font-family: Arial;
	font-size: 11px;
	font-weight: 900;
	padding: 2px 10px;
}

.input-label{
	font-family: cursive;
	font-size: medium;
	color: black;
	font-weight: bold;
}


#message {
	font-family: cursive;
	color: darkgreen;
	font-weight: 900;
}

#tally-title {
	font-family: cursive;
	font-size: large;
	color: indianred;
	font-weight: bold;
}

#players-tally {
	font-family: cursive;
	font-size: medium;
	color: darkorange;
	font-weight: bold;
}